langchain
langchain-core
langchain-community
langgraph
langchain-mistralai
langchain-groq
langchain-google-genai
langchain_openai
faiss-cpu
tiktoken
fastapi
uvicorn
requests
python-dotenv
langchain_huggingface


## dependencies for RAG
chromadb
sentence-transformers
pypdf
streamlit
tqdm
requests


lxml
beautifulsoup4